package ${package}.${moduleName}.mapper;

import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;
import ${package}.${moduleName}.framework.repository.SuperMapper;
import ${package}.${moduleName}.model.entity.${className}DO;

/**
 * ${comments}数据库访问对象
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
@Repository
public interface ${className}Mapper extends SuperMapper<${className}DO> {
}
